@import "./bootstrap/bootstrap-custom";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,600,900');

$blue: #6A91C9;
$blue-light: #D0DBF3;
$red: #BA232A;
$red-light: #E19296;
$green: #3AAB3C;
$green-light: #ABFF97;

.red
{
	background-color : $red;
}

.blue
{
	background-color : $blue;
}

.green
{
  background-color: $green;
}

.red-light
{
	background-color : $red-light;
}

.blue-light
{
	background-color : $blue-light;
}

.green-light
{
  background-color: $green-light;
}

body{
  font-family: 'Montserrat', sans-serif;

  a{
    color: #000;
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: #000;
    }
  }
}

/***************SCROLLBAR****************/
//Webkit
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    background: #000;
}
